[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Intellij IDEA
Comment=Java, Groovy, Scala and Android development
Exec=/opt/idea-IC-162.2032.8/bin/idea.sh
Icon=/opt/idea-IC-162.2032.8/bin/idea.png
Terminal=false
