[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Intellij IDEA
Comment=Java, Groovy, Scala and Android development
Exec=/opt/intellij/current/bin/idea.sh
Icon=/opt/intellij/current/bin/idea.png
Terminal=false
